*.iml
.gradle
.idea/
.classpath
.c9/
*.class
*.lock
*.log
*.swp
*~
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
key.properties

Android.iml
.gradle
build/

android/
io/
ios/
linux/
macos/
windows/
web/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

app.*.symbols

app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release
